
.name {
  font-weight: 700;
  margin-right: 12px;
}

.avatar {
  margin-right: 4px;
}

.container {
  display: flex;
  align-items: center;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 7px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #005800;
  color: white;
  outline: none;
  cursor: pointer;
  transition: color 250ms ease-in-out,
    background-color 250ms ease-in-out;
}

.button:hover {
  background-color: rgb(231, 235, 236);
  color: #000;
}